
    @font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins Regular'), url('Poppins-Regular.woff') format('woff');
    }

    
    @font-face {
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Poppins Medium'), url('Poppins-Medium.woff') format('woff');
    }
    
    @font-face {
    font-family: 'Poppins SemiBold';
    font-style: normal;
    font-weight: 600;
    src: local('Poppins SemiBold'), url('Poppins-SemiBold.woff') format('woff');
    }

    @font-face {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Poppins Bold'), url('Poppins-Bold.woff') format('woff');
    }
    
    